.freqOfHand {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.freqOfHandMiniBox{
    margin: 10px;
    font-size: 18px;
}

.hand{
    font-weight: bold;
    font-size: 25px;
}

.groupedBox {
    display: flex;
    flex-direction: row;
    
}

/* .{
    font-family: 'Barlow';
} */
.additionalInfoBox{
    font-size: 14px;
}