.freqOfHand {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}


.freqOfHandMiniBox{
    margin: 10px;
    font-size: 18px;
}

.hand{
    font-weight: bold;
    font-size: 20px;
}

.groupedBox {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 10px;   
}

.PVCPostions{
    font-size: 24px;
    margin-left: 10px;
}

/* .{
    font-family: 'Barlow';
} */
.additionalInfoBox{
    font-size: 14px;
}

.PVCRenderhands {
    width: 600px;
}

.PVCOverallStatsBox{
    display: flex;
    flex-direction: row;
    font-size: 32px;
}
.freqOfHandMiniBoxMain{
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}